* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    width: 100%;
    text-align: center;
}

#container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

.book {
    margin: 50px 15px 50px 15px;
    padding: 25px;
    border: solid;
    border-width: 2px;
    border-radius: 3px;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay {
    position: fixed;
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    justify-content: center;
    align-items: center;
  }

  #inputBook {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: white;
      height: 300px;
      width: 250px;
  }

  #inputExit {
      align-self: flex-end;
  }